:root {
    --groovy-dark-blue: #286B86;
    --groovy-light-blue: #4298b8;
    --groovy-orange: #db4800;
    --groovy-lightgray: #f2f2f2;
}

html {
    max-width: 70ch;
    padding: 1em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 3em 0 1em;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

p, ul, ol {
    margin-bottom: 1em;
    color: #1d1d1d;
    font-family: Roboto, sans-serif;
}

code, pre > code {
    font-family: "Fira Code", monospace;
}

header {
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
    background-color: var(--groovy-dark-blue);
    color: white;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 0 20px;
}

#container {
    align-content: center;
    width: 100%;
}

div.right, div.left, div.error {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
}

div.right {
    justify-content: right;
}

div.left, div.error {
    justify-content: left;
}

div.right > *, div.left > *, div.error > * {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    width: fit-content;
    margin: 0;
}

div.right > * {
    text-align: right;
    background-color: var(--groovy-light-blue);
    color: white;
}

div.left > * {
    text-align: left;
    background-color: var(--groovy-lightgray);
    color: black;
    overflow: auto;
}

div.error * {
    text-align: left;
    background-color: var(--groovy-orange);
    color: white;
    overflow: auto;
    margin-bottom: 0;
}

form *, .form * {
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-size: 1em;
    padding: 10px;
}

textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 10px;
}

button {
    float: right;
    background-color: var(--groovy-orange);
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

button:disabled {
    background-color: var(--groovy-lightgray);
    color: darkgray;
}

/* loader spinner */
.loader{
    display: block;
    position: relative;
    height: 20px;
    width: 140px;
    background-image:
            linear-gradient(#FFF 20px, transparent 0),
            linear-gradient(#FFF 20px, transparent 0),
            linear-gradient(#FFF 20px, transparent 0),
            linear-gradient(#FFF 20px, transparent 0);
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 0 0, 40px 0, 80px 0, 120px 0;
    animation: pgfill 1s linear infinite;
}

@keyframes pgfill {
    0% {   background-image: linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    25% {   background-image: linear-gradient(var(--groovy-orange) 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    50% {   background-image: linear-gradient(var(--groovy-orange) 20px, transparent 0), linear-gradient(var(--groovy-orange) 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    75% {   background-image: linear-gradient(var(--groovy-orange) 20px, transparent 0), linear-gradient(var(--groovy-orange) 20px, transparent 0), linear-gradient(var(--groovy-orange) 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    100% {   background-image: linear-gradient(var(--groovy-orange) 20px, transparent 0), linear-gradient(var(--groovy-orange) 20px, transparent 0), linear-gradient(var(--groovy-orange) 20px, transparent 0), linear-gradient(var(--groovy-orange) 20px, transparent 0); }
}

